<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat websocket</title>
</head>
<body>

    <h2 id="username">NN</h2>
    <hr>

    <form>
        <input id="msn" name="msn">
        <button id="send">Send</button>
    </form>
    <div id="chat"></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/index.js"></script>
</body>
</html>