<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Editar</th>
        </tr>
        <% data.forEach(element => { %>
            <tr>
                <td><%= element.id %></td>
                <td><%= element.name %></td>
                <td><%= element.price %></td>
                <td><a href="/update/<%= element.id %>">🐧</a></td>
            </tr>
        <% }); %>
    </table>

    <a href="/">To Form</a>

</body>
</html>