<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Ingrese datos</h1>

    <form action="/personas" method="post">
        <input name="name">
        <input name="lastname">
        <input type="number" name="age">

        <button type="submit">Enviar</button>
    </form>

    <hr>

    <h2>Historial</h2>
    <% if(personas.length == 0) { %>
        No se encontraton datos
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                <% personas.forEach(persona => { %> 
                    <tr>
                        <td><%= persona.name %></td>
                        <td><%= persona.lastname %></td>
                        <td><%= persona.age %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    <% } %>

</body>
</html>